In [32]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

sns.set()

%matplotlib inline

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [33]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [34]:
train.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,january_max_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,march_max_temp,april_min_temp,april_avg_temp,april_max_temp,may_min_temp,may_avg_temp,may_max_temp,june_min_temp,june_avg_temp,june_max_temp,july_min_temp,july_avg_temp,july_max_temp,august_min_temp,august_avg_temp,august_max_temp,september_min_temp,september_avg_temp,september_max_temp,october_min_temp,october_avg_temp,october_max_temp,november_min_temp,november_avg_temp,november_max_temp,december_min_temp,december_avg_temp,december_max_temp,cooling_degree_days,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,avg_temp,days_below_30F,days_below_20F,days_below_10F,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,68,35,50.589286,73,40,53.693548,80,41,55.5,78,46,56.854839,84,50,60.5,90,52,62.725806,84,52,62.16129,85,52,64.65,90,47,63.016129,83,43,53.8,72,36,49.274194,71,115,2960,16.59,0.0,0,56.972603,0,0,0,0,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,68,35,50.589286,73,40,53.693548,80,41,55.5,78,46,56.854839,84,50,60.5,90,52,62.725806,84,52,62.16129,85,52,64.65,90,47,63.016129,83,43,53.8,72,36,49.274194,71,115,2960,16.59,0.0,0,56.972603,0,0,0,0,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,68,35,50.589286,73,40,53.693548,80,41,55.5,78,46,56.854839,84,50,60.5,90,52,62.725806,84,52,62.16129,85,52,64.65,90,47,63.016129,83,43,53.8,72,36,49.274194,71,115,2960,16.59,0.0,0,56.972603,0,0,0,0,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,68,35,50.589286,73,40,53.693548,80,41,55.5,78,46,56.854839,84,50,60.5,90,52,62.725806,84,52,62.16129,85,52,64.65,90,47,63.016129,83,43,53.8,72,36,49.274194,71,115,2960,16.59,0.0,0,56.972603,0,0,0,0,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,68,35,50.589286,73,40,53.693548,80,41,55.5,78,46,56.854839,84,50,60.5,90,52,62.725806,84,52,62.16129,85,52,64.65,90,47,63.016129,83,43,53.8,72,36,49.274194,71,115,2960,16.59,0.0,0,56.972603,0,0,0,0,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [35]:
test.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,january_max_temp,february_min_temp,february_avg_temp,february_max_temp,march_min_temp,march_avg_temp,march_max_temp,april_min_temp,april_avg_temp,april_max_temp,may_min_temp,may_avg_temp,may_max_temp,june_min_temp,june_avg_temp,june_max_temp,july_min_temp,july_avg_temp,july_max_temp,august_min_temp,august_avg_temp,august_max_temp,september_min_temp,september_avg_temp,september_max_temp,october_min_temp,october_avg_temp,october_max_temp,november_min_temp,november_avg_temp,november_max_temp,december_min_temp,december_avg_temp,december_max_temp,cooling_degree_days,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,avg_temp,days_below_30F,days_below_20F,days_below_10F,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,id
0,7,State_1,Commercial,Grocery_store_or_food_market,28484.0,1994.0,37.0,2.4,38,50.596774,64,40,54.482143,66,42,56.935484,77,45,58.45,78,49,60.903226,87,51,63.15,97,53,64.258065,85,53,65.854839,88,54,69.766667,104,48,64.193548,91,43,58.05,69,38,51.887097,66,342,2112,25.24,0.0,0,59.894521,0,0,0,0,29,5,2,0,NaN,NaN,NaN,NaN,75757
1,7,State_1,Commercial,Grocery_store_or_food_market,21906.0,1961.0,55.0,45.7,38,50.596774,64,40,54.482143,66,42,56.935484,77,45,58.45,78,49,60.903226,87,51,63.15,97,53,64.258065,85,53,65.854839,88,54,69.766667,104,48,64.193548,91,43,58.05,69,38,51.887097,66,342,2112,25.24,0.0,0,59.894521,0,0,0,0,29,5,2,0,NaN,NaN,NaN,NaN,75758
2,7,State_1,Commercial,Grocery_store_or_food_market,16138.0,1950.0,1.0,59.1,38,50.596774,64,40,54.482143,66,42,56.935484,77,45,58.45,78,49,60.903226,87,51,63.15,97,53,64.258065,85,53,65.854839,88,54,69.766667,104,48,64.193548,91,43,58.05,69,38,51.887097,66,342,2112,25.24,0.0,0,59.894521,0,0,0,0,29,5,2,0,NaN,NaN,NaN,NaN,75759
3,7,State_1,Commercial,Grocery_store_or_food_market,97422.0,1971.0,34.0,35.4,38,50.596774,64,40,54.482143,66,42,56.935484,77,45,58.45,78,49,60.903226,87,51,63.15,97,53,64.258065,85,53,65.854839,88,54,69.766667,104,48,64.193548,91,43,58.05,69,38,51.887097,66,342,2112,25.24,0.0,0,59.894521,0,0,0,0,29,5,2,0,NaN,NaN,NaN,NaN,75760
4,7,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,35.0,1.8,38,50.596774,64,40,54.482143,66,42,56.935484,77,45,58.45,78,49,60.903226,87,51,63.15,97,53,64.258065,85,53,65.854839,88,54,69.766667,104,48,64.193548,91,43,58.05,69,38,51.887097,66,342,2112,25.24,0.0,0,59.894521,0,0,0,0,29,5,2,0,340.0,330.0,22.8,126.0,75761

## TRAIN ONLY

### Feature Engineering 1: Drop rows where "year built" is either null or 0

In [8]:
train = train[train['year_built'].notna()]
train = train[train['year_built'] != 0]

In [9]:
train.shape

(73914, 64)

In [11]:
# sanity check
# train['year_built'].unique()

### Feature Engineering 2: Drop these columns:
    - direction_max_wind_speed
    - direction_peak_wind_speed
    - max_wind_speed
    - days with fog

In [12]:
train = train.drop(columns = ['direction_max_wind_speed', 'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog'])

In [13]:
test = test.drop(columns = ['direction_max_wind_speed', 'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog'])

### Feature Engineering 3: Impute ESR with mean for each facility type

In [14]:
# create a series 
gb_train = train.groupby('facility_type')['energy_star_rating'].mean()
gb_test = test.groupby('facility_type')['energy_star_rating'].mean()

# convert the series to a dictionary
dict_train = gb_train.to_dict()
dict_test = gb_test.to_dict()

In [15]:
# sanity check - before 

print('training nulls:', train['energy_star_rating'].isnull().sum())
print('testing nulls:', test['energy_star_rating'].isnull().sum())

training nulls: 25475
testing nulls: 2254

In [16]:
# fill all null values in the energy_star_rating column with corresponding values mapped from the dictionary 

train['energy_star_rating'] = train['energy_star_rating'].fillna(train['facility_type'].map(dict_train))
test['energy_star_rating'] = test['energy_star_rating'].fillna(test['facility_type'].map(dict_test))

In [17]:
# sanity check - after 

print('training nulls:', train['energy_star_rating'].isnull().sum())
print('testing nulls:', test['energy_star_rating'].isnull().sum())

training nulls: 1083
testing nulls: 383

In [18]:
# now fill the remaining null values for energy star rating with the overall mean

train_esr_mean = train['energy_star_rating'].mean()
test_esr_mean = test['energy_star_rating'].mean()

train['energy_star_rating'].fillna(value = train_esr_mean, inplace=True)
test['energy_star_rating'].fillna(value = test_esr_mean, inplace=True)

In [19]:
# final sanity check 

print('training nulls:', train['energy_star_rating'].isnull().sum())
print('testing nulls:', test['energy_star_rating'].isnull().sum())

training nulls: 0
testing nulls: 0

### Feature Engineering 4: Dummy encode State_Factor, business_class,  facility_type

In [37]:
train = pd.get_dummies(train, columns=['State_Factor', 'building_class', 'facility_type'], drop_first=False)
test = pd.get_dummies(test, columns=['State_Factor', 'building_class', 'facility_type'], drop_first=False)

In [38]:
print('train:', train.shape)
print('test: ', test.shape)

train: (75757, 130)
test:  (9705, 128)

In [41]:
list_tr = list(train.columns)
list_te = list(test.columns)

def Diff(li1, li2):
    return list(set(li1) - set(li2)) + list(set(li2) - set(li1))

Diff(list_tr, list_te)

['site_eui', 'State_Factor_State_6']

### Define X and Y

In [42]:
# training set

all_cols_tr = list(train.columns)
remove = ['site_eui', 'id']
features = [i for i in all_cols_tr if i not in remove]
target = ['site_eui']

X_train = train[features]
y_train = train[target]

In [75]:
# testing set

all_cols_te = list(test.columns)
remove = ['site_eui', 'id']
features = [i for i in all_cols_te if i not in remove]
target = ['site_eui']

X_test = test[features]
X_test['State_Factor_State_6'] = 0

### XGBoost Regressor

In [76]:
import xgboost as xgb

In [77]:
params={ 'objective':'reg:squarederror',
         'max_depth': 6, 
         'colsample_bylevel':0.5,
         'learning_rate':0.01,
         'random_state':20}

In [78]:
xgb_r = xgb.XGBRegressor(params=params)

In [79]:
xgb_r.fit(X_train, y_train)

[08:44:01] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1643227205751/work/src/learner.cc:576:
Parameters: { "params" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1,
             params={'colsample_bylevel': 0.5, 'learning_rate': 0.01,
                     'max_depth': 6, 'objective': 'reg:squarederror',
                     'random_state': 20},
             predictor='auto', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [80]:
test['site_eui'] = xgb_r.predict(X_test)
test = test[['id', 'site_eui']]

In [81]:
test.head()

      id    site_eui
0  75757  113.511978
1  75758  129.598129
2  75759  278.170776
3  75760   83.428291
4  75761  151.328430

In [82]:
test.shape

(9705, 2)

In [83]:
test.to_csv('xgb_r_submission_feb-13.csv', index=None)